.carouselWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.carouselTrack {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
  background-color: black;
}

.techImage {
  width: 150px;
  /* margin-right: 10px; */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
